In [1]:
import numpy as np
import pandas as pd

## Importing Data

In [2]:
df = pd.read_csv('Shoes_Data.csv')

## Making a dataframe with every individual review

In [183]:
all_reviews = []
product_title = []
product_id = []
all_ratings = []
all_nreviews = []

for a in list(range(len(df))):
    
    row = df.iloc[a]
    
    review_list = [a for a in row['reviews'].split('|| ')]
    for b in review_list:
        all_reviews.append(b)
        product_title.append(row['title'])
        product_id.append(a)
        all_ratings.append(float(row['rating'].split(' out of 5')[0]))
        all_nreviews.append(int(row['total_reviews'].split(' rating')[0]))
        

        
#Initiating a Pandas DataFrame out of the lists generated above
review_df = pd.DataFrame({'Product ID':product_id,
                  'Product Name':product_title,
                  'No. of Reviews': all_nreviews,
                  'Review': all_reviews,
                  'Product Avg Rating': all_ratings
                 })

In [184]:
review_df

,Product ID,Product Name,No. of Reviews,Review,Product Avg Rating
0,0,CLYMB Outdoor Sports Running Shoes for Mens Boy,2389,Not happy with product,2.9
1,0,CLYMB Outdoor Sports Running Shoes for Mens Boy,2389,It's not as expected.,2.9
2,0,CLYMB Outdoor Sports Running Shoes for Mens Boy,2389,AVERAGE PRODUCT,2.9
3,0,CLYMB Outdoor Sports Running Shoes for Mens Boy,2389,Pic more beautiful,2.9
4,0,CLYMB Outdoor Sports Running Shoes for Mens Boy,2389,Got damage product. But quality is average for...,2.9
...,...,...,...,...,...
9953,1229,ASICS Women Gt-2000 7 Lite-Show Running Shoes,210,Go for it!,4.1
9954,1229,ASICS Women Gt-2000 7 Lite-Show Running Shoes,210,Excellent product,4.1
9955,1229,ASICS Women Gt-2000 7 Lite-Show Running Shoes,210,Nice shoe,4.1
9956,1229,ASICS Women Gt-2000 7 Lite-Show Running Shoes,210,Nice,4.1
9957,1229,ASICS Women Gt-2000 7 Lite-Show Running Shoes,210,Asics shoes are the best,4.1

In [190]:
set(review_df['Product Avg Rating'].value_counts().keys())

{1.0,
 2.0,
 2.2,
 2.3,
 2.5,
 2.6,
 2.7,
 2.8,
 2.9,
 3.0,
 3.1,
 3.2,
 3.3,
 3.4,
 3.5,
 3.6,
 3.7,
 3.8,
 3.9,
 4.0,
 4.1,
 4.2,
 4.3,
 4.4,
 4.5,
 4.6,
 4.7,
 4.8,
 4.9,
 5.0}